<template>
    <v-card flat>

        <v-form
            ref="form"
            @submit.prevent="submit"
        >
            <v-container fluid>
                <v-row>
                    <v-col
                        cols="12"
                        sm="6"
                    >
                        <v-text-field
                            v-model="form.first"
                            :rules="rules.name"
                            color="purple darken-2"
                            label="First name"
                            required
                        ></v-text-field>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="6"
                    >
                        <v-text-field
                            v-model="form.email"
                            :rules="rules.name"
                            color="blue darken-2"
                            label="Email"
                            required
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-textarea
                            v-model="form.bio"
                            color="teal"
                        >
                            <template v-slot:label>
                                <div>
                                    Bio <small>(optional)</small>
                                </div>
                            </template>
                        </v-textarea>
                    </v-col>
                </v-row>
            </v-container>
            <v-card-actions>
                <v-btn
                    text
                    @click="resetForm"
                >
                    Cancel
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                    :disabled="!formIsValid"
                    text
                    color="primary"
                    type="submit"
                >
                    Send
                </v-btn>
            </v-card-actions>
        </v-form>
    </v-card>
</template>

<script>
export default {
    data () {
        const defaultForm = Object.freeze({
            first: '',
            email: '',
            bio: '',
        })

        return {
            form: Object.assign({}, defaultForm),
            rules: {
                name: [val => (val || '').length > 0 || 'Name is required'],
                email: [val => (val || '').length > 0 || 'Email is required']
            },
            defaultForm,
        }
    },

    computed: {
        formIsValid () {
            return (
                this.form.first &&
                this.form.email
            )
        },
    },

    methods: {
        resetForm () {
            this.form = Object.assign({}, this.defaultForm)
            this.$refs.form.reset()
        },
        submit () {
            this.snackbar = true
            this.resetForm()
        },
    },
}
</script>