<template>
    <v-footer
        dark
        padless
    >
        <v-card
            class="flex"
            flat
            tile
        >
            <v-card-title class="teal">
                <strong class="subheading">Get connected with me on social networks!</strong>

                <v-spacer></v-spacer>

                <v-btn
                    v-for="social in socials"
                    :key="social.name"
                    :href="social.url"
                    target="_blank"
                    class="mx-4"
                    dark
                    icon
                >
                    <v-icon size="24px">
                        {{ social.icon }}
                    </v-icon>
                </v-btn>
            </v-card-title>

            <v-card-text class="py-2 white--text text-center">
                {{ new Date().getFullYear() }} — <strong>Mirsaid Akhmedov</strong>
            </v-card-text>
        </v-card>
    </v-footer>
</template>

<script>
export default {
    data: () => ({
        socials: [
            {
                name: 'facebook',
                icon: 'mdi-facebook',
                url: 'https://www.facebook.com/mirsaid.axmedov.9'
            },
            {
                name: 'twitter',
                icon: 'mdi-twitter',
                url: 'https://twitter.com/AkhmedovMirik'
            },
            {
                name: 'linked-in',
                icon: 'mdi-linkedin',
                url: 'https://www.linkedin.com/in/mirik-akhmedov-1581b01b9/'
            },
            {
                name: 'instagram',
                icon: 'mdi-instagram',
                url: 'https://www.instagram.com/akhmedovmirsaid/'
            }
        ],
    }),
}
</script>