<template>
    <v-app>
        <main-layout/>

        <v-main class="myclass">
            <router-view/>
        </v-main>
        <footer-content/>
    </v-app>
</template>

<script>
import MainLayout from "./components/header-content"
import FooterContent from "./components/footer-content";

export default {
    name: 'App',
    components: {FooterContent, MainLayout},
    data: () => ({
        //
    }),
};
</script>

<style>
.v-application--wrap {
    min-height: 20vh;
}
.myclass {
    min-height: 63vh;
    margin-top: 70px;
}
</style>